<template>
  <q-dialog v-model="active" v-if="active" persistent>
    <q-card class="q-px-md q-py-sm dialog-card">
      <q-card-section class="row">
        <span class="dialog-header">Dodawanie boiska</span>
        <q-space />
        <q-btn icon="close" flat round dense @click="closeDialog()"/>
      </q-card-section>

      <q-separator />

      <q-card-section>
        <q-form class="q-gutter-sm" @submit="addField()">
          <q-input
            filled
            v-model="form.city"
            label="Miasto *"
            lazy-rules
            :rules="[ val => val && val.length > 0 || 'Pole jest wymagane' ]"
          />
          <q-input
            filled
            v-model="form.street"
            label="Ulica *"
            lazy-rules
            :rules="[ val => val && val.length > 0 || 'Pole jest wymagane' ]"
          />
          <q-input
            v-model.number="form.streetNumber"
            type="number"
            label="Numer"
            filled
          />
          <br />
          <q-select
            filled
            v-model="form.typeId"
            :options="fieldTypes"
            label="Typ *"
            emit-value
            map-options
            lazy-rules
            :rules="[ val => val || 'Pole jest wymagane' ]"
          />
          <q-select
            filled
            v-model="form.keeperId"
            :options="keepers"
            label="Kierownik boiska"
            emit-value
            map-options>
            <template v-if="form.keeperId" v-slot:append>
              <q-icon name="cancel" @click.stop="form.keeperId = null" class="cursor-pointer" />
            </template>
          </q-select>
          <q-checkbox 
            class="q-py-sm"
            v-model="form.autoConfirm" 
            label="Automatyczna akceptacja" 
          />
          <br /> 
          <q-separator />
          <br />      
          <q-input
            v-model.number="form.length"
            type="number"
            label="Długość (w metrach)"
            filled
          />
          <br />
          <q-input
            v-model.number="form.width"
            type="number"
            label="Szerokość (w metrach)"
            filled
          />
          <br />
          <q-input
            v-model="form.description"
            filled
            type="textarea"
            label="Opis"
          />
          <br />
          <q-separator />
          <br />
          <div class="text-h6">Godziny otwarcia:</div>
          <br />
          <div class="row" v-for="(dayName, index) in dayNames" :key="dayName">
            <div class="col-4 text-body1 column justify-center">{{ dayName }}</div>
            <div class="col-3">
              <q-input filled v-model="workingTime[index].openHour" mask="time">
                <template v-slot:append>
                  <q-icon name="access_time" class="cursor-pointer">
                    <q-popup-proxy transition-show="scale" transition-hide="scale">
                      <q-time 
                        v-model="workingTime[index].openHour" 
                        :minute-options="minuteOptions"
                        format24h
                      />
                    </q-popup-proxy>
                  </q-icon>
                </template>
              </q-input>
            </div>
            <div class="col-2 text-center column justify-center">-</div>
            <div class="col-3">
              <q-input filled v-model="workingTime[index].closeHour" mask="time">
                <template v-slot:append>
                  <q-icon name="access_time" class="cursor-pointer">
                    <q-popup-proxy transition-show="scale" transition-hide="scale">
                      <q-time 
                        v-model="workingTime[index].closeHour" 
                        :minute-options="minuteOptions"
                        format24h
                      />
                    </q-popup-proxy>
                  </q-icon>
                </template>
              </q-input>
            </div>
          </div>
          <br />
          <div class="row justify-center">
            <q-btn
              glossy
              size="16px" 
              label="Dodaj"
              type="submit"
              color="primary"
            />
          </div>
        </q-form>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script>
import HeaderService from '../../helpers/HeaderService';
import RoleNames from '../../helpers/RoleNames';

export default {
  props: {
    active: {
      type: Boolean
    }
  },
  data() {
    return {
      form: {
        city: "",
        street: "",
        streetNumber: null,
        length: null,
        width: null,
        autoConfirm: true,
        keeperId: null,
        typeId: null,
        description: "",
        workingTime: []
      },
      keepers: [],
      fieldTypes: [],
      minuteOptions: [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55],
      dayNames: [
        "Niedziela",
        "Poniedziałek",
        "Wtorek",
        "Środa",
        "Czwartek",
        "Piątek",
        "Sobota"
      ],
      workingTime: [
          {
            day: 0,
            openHour: "",
            closeHour: ""
          },
          {
            day: 1,
            openHour: "",
            closeHour: ""
          },
          {
            day: 2,
            openHour: "",
            closeHour: ""
          },
          {
            day: 3,
            openHour: "",
            closeHour: ""
          },
          {
            day: 4,
            openHour: "",
            closeHour: ""
          },
          {
            day: 5,
            openHour: "",
            closeHour: ""
          },
          {
            day: 6,
            openHour: "",
            closeHour: ""
          }
        ]
    }
  },
  methods: {
    closeDialog() {
      this.$emit("exitDialog");
    },
    addField() {
      this.addValidWorkingTime();
      this.$q.loading.show();
      this.$axios
        .post("api/fields", this.form, HeaderService.getJWt())
        .then(response => {
          if (response.status === 201) {
            this.$q.notify({
              message: 'Boisko zostało dodane',
              color: 'positive',
              icon: 'done'
            });
            this.$emit("exitDialog");
            this.$emit("reloadData");
            this.resetForm();
          }
        })
        .catch((error) => {
          if (error.response.status === 400) {
            const errorData = error.response.data;
            if (errorData.message) {
              this.$q.notify({
                message: errorData.message
              });
            }
            if (errorData.errors) {
              console.log(errorData.errors);
            }
          } else {
            this.$q.notify({
              message: 'Wystąpił błąd'
            });
          }
        })
        .finally(() => {
          this.$q.loading.hide();
        });
    },
    mapFieldTypes(apiFieldTypes) {
      for (var apiFieldType of apiFieldTypes) {
        const fieldType = {
          label: apiFieldType.name,
          value: apiFieldType.id
        }
        this.fieldTypes.push(fieldType);
      }
    },
    mapKeepers(apiKeepers) {
      for (var apiKeeper of apiKeepers) {
        const keeper = {
          label: apiKeeper.name,
          value: apiKeeper.id
        }
        this.keepers.push(keeper);
      }
    },
    addValidWorkingTime() {
      let daysToAdd = [];
      for (const workingDay of this.workingTime) {
        if (workingDay.openHour && workingDay.closeHour) {
          daysToAdd.push(workingDay);
        }
      }
      for (const dayToAdd of daysToAdd) {
        this.form.workingTime.push(dayToAdd);
      }
    },
    resetForm() {
      this.form = {
        city: "",
        street: "",
        streetNumber: null,
        length: null,
        width: null,
        autoConfirm: true,
        keeperId: null,
        typeId: null,
        description: "",
        workingTime: []
      }
    }
  },
  created() {
    this.$q.loading.show();
    this.$axios
      .get("api/fields/types", HeaderService.getJWt())
      .then(response => {
        if (response.status === 200) {
          this.mapFieldTypes(response.data);
        }
      })
      .catch(() => {
          this.$q.notify({
            message: 'Wystąpił błąd'
          });
        })
      .finally(() => {
        this.$q.loading.hide();
      });

    this.$q.loading.show();
    this.$axios
      .get("api/users?role=" + RoleNames.getKeeper(), HeaderService.getJWt())
      .then(response => {
        if (response.status === 200) {
          this.mapKeepers(response.data);
        }
      })
      .catch(() => {
          this.$q.notify({
            message: 'Wystąpił błąd'
          });
        })
      .finally(() => {
        this.$q.loading.hide();
      });
  }
}
</script>
