<template>
  <q-dialog v-model="active" persistent>
    <q-card class="q-px-md q-py-sm dialog-card">
      <q-card-section class="row">
        <span class="dialog-header">Usuwanie boiska</span>
        <q-space />
        <q-btn icon="close" flat round dense @click="closeDialog()"/>
      </q-card-section>

      <q-separator />

      <q-card-section>
        <div class="q-gutter-y-lg">
          <div class="text-body1">Czy na pewno chcesz usunąć boisko?</div>
          <div class="row justify-center">
            <q-btn
              glossy
              size="16px"
              label="Usuń"
              color="negative"
              @click="deleteField()"
            />
          </div>
        </div>
      </q-card-section>

    </q-card>
  </q-dialog>
</template>

<script>
import HeaderService from '../../helpers/HeaderService';

export default {
  props: {
    active: {
      type: Boolean
    },
    fieldId: {
      type: Number
    }
  },
  methods: {
    closeDialog() {
      this.$emit("exitDialog");
    },
    deleteField() {
      this.$q.loading.show();
      this.$axios
        .delete("api/fields/" + this.fieldId, HeaderService.getJWt())
        .then(response => {
          if (response.status === 200) {
            this.$q.notify({
              message: 'Boisko zostało usunięte',
              color: 'positive',
              icon: 'done'
            });
            this.$emit("exitDialog");
            this.$emit("reloadData");
          }
        })
        .catch(() => {
          this.$q.notify({
            message: 'Wystąpił błąd'
          });
        })
        .finally(() => {
          this.$q.loading.hide();
          this.$emit("exitDialog");
        });
    }
  }
}
</script>
