<template>
  <q-page class="q-pa-md">
    <q-list bordered separator>

      <q-item-label header>
        <div class="row justify-between q-pa-xs">
          <div class="column justify-center">
            <span class="list-header">Lista boisk</span>
          </div>
          <q-btn v-if="isAdmin" icon="add" color="primary" round @click="openAddDialog()">
            <q-tooltip>Dodaj boisko</q-tooltip>
          </q-btn>
        </div>
      </q-item-label>

      <q-separator />

      <q-item class="field-item list-item row q-px-xl q-py-lg" v-for="field in items" :key="field.id">
        <q-item-section class="gt-xs col-sm-3 col-md-2" avatar>
          <q-icon name="beenhere" size="100px"/>
        </q-item-section>
        <q-item-section class="col-xs-10 col-sm q-gutter-y-xs">
          <span class="list-item-header">{{ field.address }}</span>
          <hr>
          <div class="row">
            <div class="col-sm-6">
              <div class="field-item-badge">
                <span><q-badge class="q-py-xs q-pa-px-sm">{{ field.type }}</q-badge></span>
              </div>
              <div v-if="field.keeperName" class="list-item-label">Opiekun: <strong>{{ field.keeperName }}</strong></div>
              <div v-if="field.length" class="list-item-label">Długość: <strong>{{ field.length }} m</strong></div>
              <div v-if="field.width" class="list-item-label">Szerokość: <strong>{{ field.width }} m</strong></div>
            </div>
            <div class="col-sm-6">
              <q-checkbox disable v-model="field.autoConfirm" label="Automatyczna akceptacja" />
            </div>
          </div>
          <span v-if="field.description" class="list-item-label">Dodatkowe informacje: <strong>{{ field.description }}</strong></span>
        </q-item-section>
        <q-item-section side>
          <div class="q-gutter-xs">
            <q-btn size="lg" flat dense round icon="access_time" @click="openWorkingTimeDialog(field)">
              <q-tooltip>Pokaż godziny otwarcia</q-tooltip>
            </q-btn>
            <q-btn v-if="isAdmin || isKeeper" size="lg" flat dense round icon="edit" @click="openEditDialog(field.id)">
              <q-tooltip>Edytuj boisko</q-tooltip>
            </q-btn>
            <q-btn v-if="isAdmin" size="lg" flat dense round icon="delete" @click="openDeleteDialog(field.id)">
              <q-tooltip>Usuń boisko</q-tooltip>
            </q-btn>
          </div>
        </q-item-section>
      </q-item>

    </q-list>
    <div class="q-pa-md row justify-end">
      <q-pagination
        v-model="page"
        color="primary"
        :max="this.pageCount"
        :max-pages="6"
        :boundary-numbers="false"
        @click="reloadData()" />
    </div>
    <add-field-dialog 
      :active="showAddDialog" 
      @exitDialog="showAddDialog = false"
      @reloadData="reloadData()"
    />
    <working-time-dialog 
      :active="showWorkingTimeDialog"
      :workingTime="workingTime"
      @exitDialog="showWorkingTimeDialog = false"
      @reloadData="reloadData()"
    />
    <edit-field-dialog 
      :active="showEditDialog" 
      :fieldId="selectedFieldId" 
      :data="editFieldData" 
      @exitDialog="showEditDialog = false"
      @reloadData="reloadData()"
    />
    <delete-field-dialog 
      :active="showDeleteDialog"
      :fieldId="selectedFieldId" 
      @exitDialog="showDeleteDialog = false" 
      @reloadData="reloadData()"
    />
  </q-page>
</template>

<script>
import HeaderService from '../../helpers/HeaderService';
import DeleteFieldDialog from './DeleteFieldDialog.vue';
import AddFieldDialog from './AddFieldDialog.vue';
import EditFieldDialog from './EditFieldDialog.vue';
import StorageService from "../../helpers/StorageService";
import WorkingTimeDialog from "./WorkingTimeDialog.vue";

export default {
  components: {
    "add-field-dialog": AddFieldDialog,
    "working-time-dialog": WorkingTimeDialog,
    "delete-field-dialog": DeleteFieldDialog,
    "edit-field-dialog": EditFieldDialog
  },
  data() {
    return {
      items: [],
      rows: 0,
      page: 1,
      size: 10,
      showAddDialog: false,
      showWorkingTimeDialog: false,
      showDeleteDialog: false,
      showEditDialog: false,
      isAdmin: StorageService.isAdmin(),
      isKeeper: StorageService.isKeeper(),
      isUser: StorageService.isUser(),
      editFieldData: null,
      selectedFieldId: null,
      workingTime: []
    };
  },
  methods: {
    openAddDialog() {
      this.showAddDialog = true;
    },
    openWorkingTimeDialog(field) {
      this.workingTime = field.workingTime;
      this.showWorkingTimeDialog = true;
    },
    async openEditDialog(fieldId) {
      this.selectedFieldId = fieldId;
      this.$q.loading.show();
      await this.$axios
        .get("api/fields/" + fieldId, HeaderService.getJWt())
        .then(response => {
            if (response.status === 200) {
              this.editFieldData = response.data;
            }
        })
        .catch(() => {
            this.$q.notify({
                message: 'Wystąpił błąd'
            });
            })
        .finally(() => {
            this.$q.loading.hide();
        });

      this.showEditDialog = true;
    },
    openDeleteDialog(fieldId) {
      this.selectedFieldId = fieldId;
      this.showDeleteDialog = true;
    },
    getUrl() {
      let url = 'api/fields/list?';
      let nextParameter = false;
      if (this.page) {
        url += 'page=' + this.page;
        nextParameter = true;
      }
      if (this.size) {
        if (nextParameter) {
          url += '&';
        }
        url += 'size=' + this.size;
        nextParameter = true;
      }
      return url;
    },
    reloadData() {
      this.$q.loading.show();
      this.$axios
        .get(this.getUrl(), HeaderService.getJWt())
        .then(response => {
          if (response.status === 200) {
            this.items = response.data.items;
            this.rows = response.data.rowNumber;
          }
        })
        .finally(() => {
          this.$q.loading.hide();
        });
    }
  },
  computed: {
    pageCount() {
      return Math.ceil(this.rows / this.size);
    }
  },
  created() {
    this.$q.loading.show();
    this.$axios
      .get("api/fields/list", HeaderService.getJWt())
      .then(response => {
        if (response.status === 200) {
          this.items = response.data.items;
          this.rows = response.data.rowNumber;
        }
      })
      .finally(() => {
        this.$q.loading.hide();
      });
  }
}
</script>

<style scoped>
.field-item {
  min-height: 200px;
}
.field-item-badge {
  margin-bottom: 15px;
}
</style>
