<template>
  <q-dialog v-model="active" v-if="active" persistent>
    <q-card class="q-px-md q-py-sm wt-dialog-card">
      <q-card-section class="row">
        <span class="dialog-header">Godziny otwarcia</span>
        <q-space />
        <q-btn icon="close" flat round dense @click="closeDialog()"/>
      </q-card-section>

      <q-separator />

      <q-card-section>
        <div class="q-gutter-y-lg">
          <div class="row" v-for="(dayName, index) in dayNames" :key="dayName">
            <div class="col-6 text-body1 column justify-center">{{ dayName }}</div>
            <div class="col-6 text-body1" v-if="filledWorkingTime[index].openHour">
              {{ filledWorkingTime[index].openHour }} - {{ filledWorkingTime[index].closeHour }}
            </div>
            <div class="col-6" v-else>
              <q-badge color="red" class="q-py-xs q-pa-px-sm">Nieczynne</q-badge>
            </div>
          </div>
        </div>
      </q-card-section>

    </q-card>
  </q-dialog> 
</template>

<script>
export default {
  props: {
    active: {
      type: Boolean
    },
    workingTime: {
      type: Array
    }
  },
  data() {
    return {
      dayNames: [
        "Niedziela",
        "Poniedziałek",
        "Wtorek",
        "Środa",
        "Czwartek",
        "Piątek",
        "Sobota"
      ],
      filledWorkingTime: []
    }
  },
  methods: {
    closeDialog() {
      this.$emit("exitDialog");
    },
    fillWorkingTime() {
      this.filledWorkingTime = [];
      let actualIndex = 0;
      for (let i = 0; i < this.dayNames.length; i++) {
        if (this.workingTime[actualIndex] && this.workingTime[actualIndex].day === i) {
          this.filledWorkingTime.push(this.workingTime[actualIndex]);
          actualIndex++;
          continue;
        }
        this.filledWorkingTime.push({
          day: i
        })
      }
    }
  },
  watch: {
    workingTime() {
      this.fillWorkingTime();
    }
  }
}
</script>

<style scoped>
.wt-dialog-card {
  min-width: 350px;
}
</style>
