<template>
  <q-layout>
    <q-page-container>
      <q-page class="column justify-center q-pa-md">
        <div class="row justify-center">
          <div class="col-12 col-sm-7 col-md-5 col-lg-4">
            <q-card class="my-card">
              <q-card-section>
                <div class="card-header text-center">
                  <div><q-icon name="account_circle" size="120px" color="primary"/></div>
                  <div class="text-h6">INTERNETOWY SYSTEM REZERWACJI BOISK</div>
                </div>
              </q-card-section>

              <q-tabs v-model="tab" class="text-primary">
                <q-tab label="Logowanie" name="login" />
                <q-tab label="Rejestracja" name="register" />
              </q-tabs>

              <q-separator />

              <div class="q-pa-lg">
                <q-tab-panels v-model="tab" animated>
                  <q-tab-panel name="login">
                    <login-form 
                      @loginSuccess="loginSuccess"
                      @loginFailure="loginFailure" />
                  </q-tab-panel>
                  <q-tab-panel name="register">
                    <register-form @registerSuccess="registerSuccess()"/>
                  </q-tab-panel>
                </q-tab-panels>
              </div>
            </q-card>
          </div>
        </div>
      </q-page>
    </q-page-container>
  </q-layout>
</template>

<script>
import Login from "./Login.vue";
import Register from "./Register.vue";

export default {
  components: {
    "login-form": Login,
    "register-form": Register
  },
  data() {
    return {
      tab: "login"
    };
  },
  methods: {
    loginSuccess() {
      this.$q.notify({
        message: 'Pomyślnie zalogowano',
        color: 'positive',
        icon: 'done'
      });
      this.$router.push({ name: 'index' });
    },
    loginFailure(errorMessage) {
      this.$q.notify({
        message: errorMessage
      });
    },
    registerSuccess() {
      this.$q.notify({
        message: 'Utworzono nowe konto',
        color: 'positive',
        icon: 'done'
      });
      this.tab = "login";
    }
  },
  created() {
    if (this.$route.params.tab === "login" || this.$route.params.tab === "register") {
      this.tab = this.$route.params.tab;
    }
  }
};
</script>

<style scoped>
.my-card {
  width: 100%;
}
.card-header {
  margin-top: 1.0em;
  font-weight: bold;
}
</style>
