<template>
  <q-form @submit.prevent="onSubmit()" class="q-gutter-lg">
    <q-input filled v-model="body.login" type="text" label="Nazwa użytkownika" />
    <q-input filled v-model="body.password" type="password" label="Hasło" />
    <div class="row justify-center">
      <q-btn label="Zaloguj" type="submit" color="primary" size="16px" glossy />
    </div>
  </q-form>
</template>

<script>
import StorageService from "../../helpers/StorageService";

export default {
  data() {
    return {
      body: {
        login: "",
        password: ""
      }
    };
  },
  methods: {
    onSubmit() {
      this.$q.loading.show({
        message: 'Logowanie...'
      });
      this.$axios.post('api/auth/login', this.body)
        .then(response => {
          if (response.status === 200) {
            StorageService.setUserInfo(response.data);
            this.$emit("loginSuccess");
          }
        })
        .catch(err => {
          if (err.response && err.response.status === 400) {
            this.$emit("loginFailure", err.response.data.message);
          } else {
              this.$q.notify({
              message: 'Wystąpił błąd'
            });
          }
        })
        .finally(() => {
          this.$q.loading.hide();
        });
    }
  }
};
</script>
