<template>
  <q-form @submit.prevent="onSubmit()" class="q-gutter-sm" ref="form">
    <q-input
      filled
      v-model="body.login"
      @input="resetApiValidation()"
      label="Nazwa użytkownika *"
      lazy-rules
      :rules="[ val => val && val.length > 0 || 'Pole jest wymagane',
                val => !errors.login.invalid || errors.login.message ]"
    />
    <q-input
      filled
      v-model="body.firstName"
      label="Imię *"
      lazy-rules
      :rules="[ val => val && val.length > 0 || 'Pole jest wymagane' ]"
    />
    <q-input
      filled
      v-model="body.lastName"
      label="Nazwisko *"
      lazy-rules
      :rules="[ val => val && val.length > 0 || 'Pole jest wymagane' ]"
    />
    <q-input
      filled
      v-model="body.email"
      @input="resetApiValidation()"
      type="email"
      label="E-mail *"
      lazy-rules
      :rules="[ val => val && val.length > 0 || 'Pole jest wymagane',
                val => !errors.email.invalid || errors.email.message ]"
    />
    <q-input
      filled
      v-model="body.password"
      type="password"
      label="Hasło *"
      lazy-rules
      :rules="[ val => val && val.length > 0 || 'Pole jest wymagane',
                val => val && val.length >= 6 || 'Pole musi mieć przynajmniej 6 znaków']"
    />
    <q-input
      filled
      type="password"
      v-model="body.repeatedPassword"
      label="Powtórz hasło *"
      lazy-rules
      :rules="[ val => val && val.length > 0 || 'Pole jest wymagane',
                val => val === body.password || 'Hasła różnią się od siebie']"
    />
    <div class="row justify-center q-gutter-sm">
      <q-btn
        label="Zarejestruj"
        type="submit"
        color="primary"
        size="16px"
        glossy
        :loading="loading"
      />
    </div>
  </q-form>
</template>

<script>
export default {
  data() {
    return {
      body: {
        login: "",
        firstName: "",
        lastName: "",
        email: "",
        password: "",
        repeatedPassword: ""
      },
      errors: {
        login: {
          invalid: false,
          message: ""
        },
        email: {
          invalid: false,
          message: ""
        }
      },
      loading: false
    };
  },
  methods: {
    resetApiValidation() {
      if (this.errors.login.invalid === true) {
        this.errors.login.invalid = false;
      }
      if (this.errors.email.invalid === true) {
        this.errors.email.invalid = false;
      }
    },
    async onSubmit() {
      this.$q.loading.show();
      this.$axios.post('api/auth/register', this.body)
        .then(response => {
          if (response.status === 200) {
            this.$emit("registerSuccess");
          }
        })
        .catch(error => {
          if (error.response && error.response.status === 400) {
            const errorData = error.response.data;
            switch (errorData.errorCode) {
              case 0:
                this.errors.email.invalid = true;
                this.errors.email.message = errorData.message;
                break;
              case 1:
                this.errors.login.invalid = true;
                this.errors.login.message = errorData.message;
                break;
            }
            this.$refs.form.validate();
          } else {
              this.$q.notify({
              message: 'Wystąpił błąd'
            });
          }
        })
        .finally(() => {
          this.$q.loading.hide();
        });
    }
  }
};
</script>
