<template>
  <q-dialog v-model="active" persistent>
    <q-card class="q-px-md q-py-sm dialog-card">
      <q-card-section class="row">
        <span class="dialog-header">Dodawanie meczu </span>
        <q-space />
        <q-btn icon="close" flat round dense @click="closeDialog()"/>
      </q-card-section>

      <q-separator />

      <q-card-section>
        <q-form class="q-gutter-sm" @submit="addMatch()">
          <q-select
            filled
            v-model="form.fieldId"
            :options="fields"
            label="Boisko *"
            emit-value
            map-options
            lazy-rules
            :rules="[ val => val || 'Pole jest wymagane' ]"
          />
          <q-input 
            filled 
            v-model="form.startDate" 
            label="Start meczu *"
            ref="startDateInput"
            lazy-rules
            @blur="$refs.endOfJoiningDateInput.validate()"
            :rules="[ val => val && val.length > 0 || 'Pole jest wymagane',
              val => isFutureDate(val) || 'Wymagana data z przyszłości',
              val => val && startDateNotEarlierThanEndOfJoiningDate || 'Data startu nie może być wcześniejsza niz data zapisów' ]">
            <template v-slot:prepend>
              <q-icon name="event" class="cursor-pointer">
                <q-popup-proxy transition-show="scale" transition-hide="scale">
                  <q-date 
                    v-model="form.startDate" 
                    mask="YYYY-MM-DD HH:mm" />
                </q-popup-proxy>
              </q-icon>
            </template>
            <template v-slot:append>
              <q-icon name="access_time" class="cursor-pointer">
                <q-popup-proxy transition-show="scale" transition-hide="scale">
                  <q-time 
                    v-model="form.startDate" 
                    mask="YYYY-MM-DD HH:mm" 
                    format24h
                    :minute-options="minuteOptions" />
                </q-popup-proxy>
              </q-icon>
            </template>
          </q-input>
          <q-input 
            filled 
            v-model="form.endOfJoiningDate" 
            label="Zapisy do *"
            ref="endOfJoiningDateInput"
            @blur="$refs.startDateInput.validate()"
            lazy-rules
            :rules="[ val => val && val.length > 0 || 'Pole jest wymagane',
              val => isFutureDate(val) || 'Wymagana data z przyszłości',
              val => val && startDateNotEarlierThanEndOfJoiningDate || 'Data startu nie może być wcześniejsza niz data zapisów' ]">
            <template v-slot:prepend>
              <q-icon name="event" class="cursor-pointer">
                <q-popup-proxy transition-show="scale" transition-hide="scale">
                  <q-date 
                  v-model="form.endOfJoiningDate" 
                  mask="YYYY-MM-DD HH:mm" />
                </q-popup-proxy>
              </q-icon>
            </template>
            <template v-slot:append>
              <q-icon name="access_time" class="cursor-pointer">
                <q-popup-proxy transition-show="scale" transition-hide="scale">
                  <q-time 
                  v-model="form.endOfJoiningDate" 
                  mask="YYYY-MM-DD HH:mm" 
                  format24h
                  :minute-options="minuteOptions" />
                </q-popup-proxy>
              </q-icon>
            </template>
          </q-input>
          <q-input
            v-model.number="form.wantedPlayersAmmount"
            type="number"
            label="Liczba brakujących graczy *"
            filled
            lazy-rules
            :rules="[ val => val && val > 0 || 'Wartość musi być większa od zera']"
          />
          <q-input
            v-model.number="form.playersAmmount"
            type="number"
            label="Przewidywana liczba graczy"
            filled
            lazy-rules
            :rules="[ val => val == null || val.length == 0 || val > 0 || 'Wartość musi być pusta lub większa od zera']"
          />
          <q-input
            v-model.number="form.minutes"
            type="number"
            label="Czas rezerwacji (w minutach) *"
            filled
            lazy-rules
            :rules="[ val => val || 'Pole jest wymagane',
                      val => val >= 30 && val <= 120 || 'Wymagana wartość z przedziału 30 - 120' ]"
          />
          <q-input
            v-model="form.description"
            filled
            type="textarea"
            label="Komentarz"
          />
          <br />
          <div class="row justify-center">
            <q-btn
              glossy
              size="16px" 
              label="Dodaj"
              type="submit"
              color="primary"
            />
          </div>
        </q-form>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script>
import HeaderService from '../../helpers/HeaderService';

export default {
  props: {
    active: {
      type: Boolean
    }
  },
  data() {
    return {
      form: {
        fieldId: null,
        startDate: "",
        endOfJoiningDate: "",
        minutes: null,
        wantedPlayersAmmount: null,
        playersAmmount: null,
        description: ""
      },
      fields: [],
      minuteOptions: [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55]
    }
  },
  methods: {
    closeDialog() {
      this.$emit("exitDialog");
    },
    addMatch() {
      this.$q.loading.show();
      this.$axios
        .post("api/matches", this.form, HeaderService.getJWt())
        .then(response => {
          if (response.status === 200) {
            this.$q.notify({
              message: 'Mecz został dodany',
              color: 'positive',
              icon: 'done'
            });
            this.$emit("exitDialog");
            this.$emit("reloadData");
          }
        })
        .catch((error) => {
          if (error.response.status === 400) {
            const errorData = error.response.data;
            if (errorData.message) {
              this.$q.notify({
                message: errorData.message
              });
            }
            if (errorData.errors) {
              this.datesValidation(errorData.errors);
            }
          } else {
            this.$q.notify({
              message: 'Wystąpił błąd'
            });
          }
        })
        .finally(() => {
          this.$q.loading.hide();
        });
    },
    mapFields(apiFields) {
      for (var apiField of apiFields) {
        const field = {
          label: apiField.name,
          value: apiField.id
        }
        this.fields.push(field);
      }
    },
    isFutureDate(dateString) {
      const date = new Date(dateString);
      const today = new Date();
      if (date < today) {
        return false;
      }
      return true;
    },
    resetForm() {
      this.form = {
        fieldId: null,
        startDate: "",
        endOfJoiningDate: "",
        minutes: null,
        wantedPlayersAmmount: null,
        playersAmmount: null,
        description: ""
      }
    }
  },
  computed: {
    startDateNotEarlierThanEndOfJoiningDate() {
      if (this.form.startDate && this.form.endOfJoiningDate) {
        const startDate = new Date(this.form.startDate);
        const endOfJoiningDate = new Date(this.form.endOfJoiningDate);
        if (startDate < endOfJoiningDate) {
          return false;
        }
      }
      return true;
    }
  },
  created() {
    this.$q.loading.show();
    this.$axios
      .get("api/fields", HeaderService.getJWt())
      .then(response => {
        if (response.status === 200) {
          this.mapFields(response.data);
        }
      })
      .catch(() => {
          this.$q.notify({
            message: 'Wystąpił błąd'
          });
        })
      .finally(() => {
        this.$q.loading.hide();
      });
  }
}
</script>
