<template>
  <q-dialog v-model="active" persistent>
    <q-card class="q-px-md q-py-sm dialog-card">
      <q-card-section class="row">
        <span class="dialog-header">Dołączanie do meczu</span>
        <q-space />
        <q-btn icon="close" flat round dense @click="closeDialog()"/>
      </q-card-section>

      <q-separator />

      <q-card-section>
        <div class="q-gutter-y-lg">
          <div class="text-body1">Czy na pewno chcesz dołączyć do tego meczu?</div>
          <div class="row justify-center">
            <q-btn
              glossy
              size="16px"
              label="Dołącz"
              color="primary"
              @click="joinMatch()"
            />
          </div>
        </div>
      </q-card-section>

    </q-card>
  </q-dialog>
</template>

<script>
import HeaderService from '../../helpers/HeaderService'

export default {
  props: {
    active: {
      type: Boolean
    },
    matchId: {
      type: Number
    }
  },
  methods: {
    closeDialog() {
      this.$emit("exitDialog");
    },
    joinMatch() {
      this.$q.loading.show();
      this.$axios
        .put("api/matches/join/" + this.matchId, null, HeaderService.getJWt())
        .then(response => {
          if (response.status === 200) {
            this.$q.notify({
              message: 'Dołaczono do meczu',
              color: 'positive',
              icon: 'done'
            });
            this.$emit("exitDialog");
            this.$emit("reloadData");
          }
        })
        .catch((error) => {
          if (error.response.status === 400) {
            this.$q.notify({
              message: error.response.data.message
            });
          } else {
            this.$q.notify({
              message: 'Wystąpił błąd'
            });
          }
        })
        .finally(() => {
          this.$q.loading.hide();
          this.$emit("exitDialog");
        });
    }
  }
}
</script>
