<template>
  <q-page class="q-pa-md">
    <q-list bordered separator>

      <q-item-label header>
        <div class="row justify-between q-pa-xs">
          <div class="column justify-center">
            <span class="list-header">Lista meczów</span>
          </div>
          <q-btn v-if="isUser" icon="add" color="primary" round @click="openAddDialog()">
            <q-tooltip>Dodaj mecz</q-tooltip>
          </q-btn>
        </div>
        <br>
        <q-separator />
        <br>
        <div class="row q-px-xs">
          <div class="col-3 col-sm-2 col-md-1 text-h6">Filtry:</div>
          <div>
            <q-checkbox v-if="isUser" v-model="onlyOwn" label="Tylko własne mecze" />
            <q-checkbox v-if="isAdmin || isKeeper" v-model="onlyUnconfirmed" label="Tylko niezaakceptowane mecze" />
          </div>
        </div>
      </q-item-label>

      <q-separator />

      <q-item class="match-item list-item row q-px-xl q-py-lg" v-for="match in items" :key="match.id">
        <q-item-section class="gt-xs col-sm-3 col-md-2" avatar>
          <q-icon name="sports_soccer" size="100px"/>
        </q-item-section>
        <q-item-section class="col-xs-10 col-sm q-gutter-y-xs">
          <span class="list-item-header">{{ match.field.address }}</span>
          <hr>
          <div class="match-item-badge">
            <span><q-badge class="q-py-xs q-pa-px-sm">{{ match.field.type }}</q-badge></span>
          </div>
          <div class="list-item-label">Start: <strong>{{ getDate(match.startDate) }}</strong></div>
          <div class="list-item-label">Zapisy do: <strong>{{ getDate(match.endOfJoiningDate) }}</strong></div>
          <div class="list-item-label">Wolnych miejsc: <strong>{{ match.wantedPlayersLeftAmmonut }}</strong></div>
          <div class="list-item-label">Czas trwania: <strong>{{ match.minutes }} minut</strong></div>
          <span v-if="match.description" class="list-item-label">Dodatkowe informacje: <strong>{{ match.description }}</strong></span>
        </q-item-section>
        <q-item-section side>
          <div class="q-gutter-xs">
            <q-btn v-if="isUser" size="lg" flat dense round icon="forward" @click="openJoinDialog(match.id)">
              <q-tooltip>Dołącz</q-tooltip>
            </q-btn>
            <q-btn v-if="isAdmin || isKeeper" size="lg" flat dense round icon="done" @click="openConfirmDialog(match.id)">
              <q-tooltip>Zatwierdź mecz</q-tooltip>
            </q-btn>
            <q-btn size="lg" flat dense round icon="group" @click="openPlayerListDialog(match)">
              <q-tooltip>Informacja o graczach</q-tooltip>
            </q-btn>
            <q-btn v-if="isAdmin || isKeeper" size="lg" flat dense round icon="delete" @click="openDeleteDialog(match.id)">
              <q-tooltip>Usuń mecz</q-tooltip>
            </q-btn>
          </div>
        </q-item-section>
      </q-item>

    </q-list>
    <div class="q-pa-md row justify-end">
      <q-pagination
        v-model="page"
        color="primary"
        :max="this.pageCount"
        :max-pages="6"
        :boundary-numbers="false"
        @click="reloadData()" />
    </div>
    <add-match-dialog 
      :active="showAddDialog" 
      @exitDialog="showAddDialog = false"
      @reloadData="reloadData()"/>
    <delete-match-dialog 
      :active="showDeleteDialog" 
      :matchId="selectedMatchId" 
      @exitDialog="showDeleteDialog = false" 
      @reloadData="reloadData()"/>
    <join-match-dialog
      :active="showJoinDialog"
      :matchId="selectedMatchId"
      @exitDialog="showJoinDialog = false"
      @reloadData="reloadData()"/>
    <confirm-match-dialog 
      :active="showConfirmDialog"
      :matchId="selectedMatchId"
      @exitDialog="showConfirmDialog = false"/>
    <player-list-dialog
      :active="showPlayerListDialog"
      :users="playerList"
      @exitDialog="showPlayerListDialog = false"/>
  </q-page>
</template>

<script>
import AddMatchDialog from "./AddMatchDialog.vue";
import DeleteMatchDialog from "./DeleteMatchDialog.vue";
import JoinMatchDialog from "./JoinMatchDialog.vue";
import ConfirmMatchDialog from "./ConfirmMatchDialog.vue";
import PlayerListDialog from "./PlayerListDialog.vue";
import HeaderService from "../../helpers/HeaderService";
import StorageService from "../../helpers/StorageService";

export default {
  components: {
    "add-match-dialog": AddMatchDialog,
    "delete-match-dialog": DeleteMatchDialog,
    "join-match-dialog": JoinMatchDialog,
    "confirm-match-dialog": ConfirmMatchDialog,
    "player-list-dialog": PlayerListDialog
  },
  data() {
    return {
      items: [],
      rows: 0,
      page: 1,
      size: 10,
      showAddDialog: false,
      showDeleteDialog: false,
      showJoinDialog: false,
      showConfirmDialog: false,
      showPlayerListDialog: false,
      isAdmin: StorageService.isAdmin(),
      isKeeper: StorageService.isKeeper(),
      isUser: StorageService.isUser(),
      selectedMatchId: 0,
      playerList: {
        founder: {
          firstName: "",
          lastName: "",
          id: 0
        },
        players: []
      },
        onlyUnconfirmed: false,
        onlyOwn: false
    };
  },
  methods: {
    openJoinDialog(matchId) {
      this.selectedMatchId = matchId;
      this.showJoinDialog = true;
    },
    openDeleteDialog(matchId) {
      this.selectedMatchId = matchId;
      this.showDeleteDialog = true;
    },
    openConfirmDialog(matchId) {
      this.selectedMatchId = matchId;
      this.showConfirmDialog = true;
    },
    openPlayerListDialog(match) {
      this.playerList = {
        founder: match.founder,
        matchMembers: match.matchMembers
      };
      this.showPlayerListDialog = true;
    },
    openAddDialog() {
      this.showAddDialog = true;
    },
    getUrl() {
      let url = 'api/matches/list?';
      let nextParameter = false;
      if (this.page) {
        url += 'page=' + this.page;
        nextParameter = true;
      }
      if (this.size) {
        if (nextParameter) {
          url += '&';
        }
        url += 'size=' + this.size;
        nextParameter = true;
      }
      if (this.onlyOwn) {
        if (nextParameter) {
          url += '&';
        }
        url += 'onlyOwn=' + this.onlyOwn;
        nextParameter = true;
      }
      if (this.onlyUnconfirmed) {
        if (nextParameter) {
          url += '&';
        }
        url += 'onlyUnconfirmed=' + this.onlyUnconfirmed;
        nextParameter = true;
      }
      return url;
    },
    reloadData() {
      this.$q.loading.show();
      this.$axios
        .get(this.getUrl(), HeaderService.getJWt())
        .then(response => {
          if (response.status === 200) {
            this.items = response.data.items;
            this.rows = response.data.rowNumber;
          }
        })
        .finally(() => {
          this.$q.loading.hide();
        });
    },
    getDate(dateString) {
      const date = new Date(dateString);
      const today = new Date();
      let tomorrow = new Date();
      tomorrow.setDate(today.getDate() + 1);
      let dayName;

      if (today.toLocaleDateString() === date.toLocaleDateString()) {
        dayName = 'Dziś'
      } else if (tomorrow.toLocaleDateString() === date.toLocaleDateString()) {
        dayName = 'Jutro'
      }
      const splittedTime = date.toLocaleTimeString().split(':');
      const time = splittedTime.slice(0, -1).join(':');
      if (dayName) {
        return dayName + ', ' + time;
      }
      return date.toLocaleDateString() + ', ' + time;
    }
  },
  computed: {
    pageCount() {
      return Math.ceil(this.rows / this.size);
    }
  },
  watch: {
    onlyUnconfirmed() {
      this.reloadData();
    },
    onlyOwn() {
      this.reloadData();
    }
  },
  created() {
    this.$q.loading.show();
    this.$axios
      .get("api/matches/list", HeaderService.getJWt())
      .then(response => {
        if (response.status === 200) {
          this.items = response.data.items;
          this.rows = response.data.rowNumber;
        }
      })
      .catch(() => {
          this.$q.notify({
            message: 'Wystąpił błąd'
          });
        })
      .finally(() => {
        this.$q.loading.hide();
      });
  }
}
</script>

<style scoped>
.match-item {
  min-height: 200px;
}
.match-item-badge {
  margin-bottom: 15px;
}
</style>
