<template>
  <q-dialog v-model="active" v-if="active" persistent>
    <q-card class="q-px-md q-py-sm dialog-card">
      <q-card-section class="row">
        <span class="dialog-header">Uczestnicy</span>
        <q-space />
        <q-btn icon="close" flat round dense @click="closeDialog()"/>
      </q-card-section>

      <q-separator />

      <q-card-section>
        <div class="q-gutter-y-lg">
          <q-list>
            <q-item-label header class="list-item-label">Założyciel</q-item-label>
            <q-item clickable>
              <q-item-section>
                <q-avatar color="primary" text-color="white">{{users.founder.lastName[0].toUpperCase()}}</q-avatar>
              </q-item-section>
              <q-item-section class="text-body1">{{users.founder.firstName}} {{users.founder.lastName}}</q-item-section>
            </q-item>
            <q-item-label header class="list-item-label">Gracze</q-item-label>
            <q-item clickable v-for="player in users.matchMembers" :key="player.id">
              <q-item-section>
                <q-avatar color="primary" text-color="white">{{player.lastName[0].toUpperCase()}}</q-avatar>
              </q-item-section>
              <q-item-section class="text-body1">{{player.firstName}} {{player.lastName}}</q-item-section>
            </q-item>
          </q-list>
        </div>
      </q-card-section>

    </q-card>
  </q-dialog>
</template>

<script>
export default {
  props: {
    active: {
      type: Boolean
    },
    users: {
      type: Object
    }
  },
  methods: {
    closeDialog() {
      this.$emit("exitDialog");
    }
  }
}
</script>
