<template>
<q-page class="q-pa-xl">
  <div clickable class="row justify-between q-gutter-y-md">
    <q-card class="home-card col-md-3 q-pa-sm text-white text-center" 
      style="background: radial-gradient(circle, #00b502 0%, #01852b 100%)"
      @click="goMatches()"
    >
        <q-card-section>
          <div><q-icon name="sports_soccer" size="80px" color="white"/></div>
          <br>
          <div class="text-h5 text-bold">Mecze</div>
        </q-card-section>
        <q-card-section>
          {{ matchCardContent }}
        </q-card-section>
      </q-card>
      <q-card dark bordered class="home-card col-md-3 q-pa-sm bg-grey-8 text-center"
        @click="goFields()"
      >
        <q-card-section>
          <div><q-icon name="beenhere" size="80px" color="white"/></div>
          <br>
          <div class="text-h5 text-bold">Boiska</div>
        </q-card-section>
        <q-card-section>
          {{ fieldCardContent }}
        </q-card-section>
      </q-card>
      <q-card bordered class="home-card col-md-3 q-pa-sm text-center"
        @click="goUsers()"
      >
        <q-card-section>
          <div><q-icon name="people" size="80px"/></div>
          <br>
          <div class="text-h5 text-bold">Profile</div>
        </q-card-section>
        <q-card-section>
          {{ userCardContent }}
        </q-card-section>
      </q-card>
    </div>
  </q-page>
</template>

<style>
</style>

<script>
import StorageService from '../helpers/StorageService';

export default {
  data() {
    return {
      loggedIn: StorageService.getLoginState(),
      matchCardContent: 'Moduł meczów pozwala na umawianie się na mecze oraz znajdywanie gier. ' + 
      'Poszukuj brakujących graczy, rezerwuj obiekty sportowe oraz zarządzaj swoimi rozgrywkami!',
      fieldCardContent: 'W module boisk znajdziesz informacje o zarejestrowanych boiskach oraz uzyskasz dostęp ' +
      'do ich godzin otwarcia. Opiekunowie boisk mogą w tym miejscu zarządzać całą strukturą obiektów, do nich przydzielonych.',
      userCardContent: 'Moduł profilów udostępnia sylwetki graczy oraz pozwala na nawiązanie kontaktu z innymi ' +
      'użytkownikami. Chcesz skontaktować się z poznanymi zawodnikami lub opiekunami obiektów? Znajdź ich tutaj!'
    }
  },
  methods: {
    goMatches() {
      this.$router.push({ name: 'matches' });
    },
    goFields() {
      this.$router.push({ name: 'fields' });
    },
    goUsers() {
      this.$router.push({ name: 'users' });
    }
  }
}
</script>

<style scoped>
.custom-caption {
  text-align: center;
  padding: 12px;
  color: white;
  background-color: rgba(0, 0, 0, .3);
}
.home-card:hover {
  cursor: pointer;
}
</style>
