<template>
  <div id="q-app">
    <router-view />
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
.list-item {
  background-color: #f5f5f5;
}
.list-header {
  font-size: 1.8em;
  font-weight: bold;
}
.list-item-header {
  font-size: 1.4em;
  font-weight: bold;
}
.list-item-label {
  font-size: 1.1em;
}
.dialog-header {
  font-size: 1.7em;
  font-weight: bold;
}
.dialog-card {
  min-width: 350px;
}
</style>
