<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar class="glossy">
        <q-btn flat dense round @click="leftDrawerOpen = !leftDrawerOpen" aria-label="Menu">
          <q-icon name="menu" />
        </q-btn>
        <q-toolbar-title class="gt-xs app-title" @click="goHome()">System Rezerwacji Boisk</q-toolbar-title>
        <q-toolbar-title class="lt-sm app-title" @click="goHome()">SRB</q-toolbar-title>
        <q-btn v-if="loggedIn" round flat icon="person">
          <q-menu>
            <q-list class="text-center" style="min-width: 150px">
              <q-item-label header class="text-overline text-weight-bold">{{ user.name }}</q-item-label>
              <q-separator />
              <q-item clickable>
                <q-item-section @click="goProfile()">Pokaż profil</q-item-section>
              </q-item>
              <q-item clickable>
                <q-item-section @click="logout()">Wyloguj</q-item-section>
              </q-item>
            </q-list>
          </q-menu>
        </q-btn>
        <q-btn v-if="!loggedIn" flat @click="goLogin()">Logowanie</q-btn>
        <q-btn v-if="!loggedIn" flat @click="goRegister()">Rejestracja</q-btn>
      </q-toolbar>
    </q-header>

    <q-drawer v-model="leftDrawerOpen" bordered content-class="bg-grey-2">
      <q-list>
        <q-item-label header>Zakładki</q-item-label>
        <q-item clickable :to="{ name: 'matches' }">
          <q-item-section avatar>
            <q-icon name="sports_soccer" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Mecze</q-item-label>
            <q-item-label caption>Szukaj dostępnych gier</q-item-label>
          </q-item-section>
        </q-item>
        <q-item clickable :to="{ name: 'fields' }">
          <q-item-section avatar>
            <q-icon name="beenhere" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Boiska</q-item-label>
            <q-item-label caption>Informacje o dostępnych obiektach</q-item-label>
          </q-item-section>
        </q-item>
        <q-item clickable :to="{ name: 'users' }">
          <q-item-section avatar>
            <q-icon name="people" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Profile</q-item-label>
            <q-item-label caption>Znajdź innych użytkowników</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import StorageService from '../helpers/StorageService';
import HeaderService from '../helpers/HeaderService';

export default {
  name: "MyLayout",
  data() {
    return {
      leftDrawerOpen: this.$q.platform.is.desktop,
      logged: false,
      user: null
    };
  },
  methods: {
    goHome() {
      this.$router.push({ 
        name: 'index'
      });
    },
    goLogin() {
      this.$router.push({ 
        name: 'auth',
        params: { tab: 'login' } 
      });
    },
    goRegister() {
      this.$router.push({ 
        name: 'auth',
        params: { tab: 'register' } 
      });
    },
    goProfile() {
      this.$router.push({
        name: 'user-details',
        params: { id: StorageService.getUser().id } 
      });
    },
    logout() {
      StorageService.removeUserInfo();
      this.$q.notify({
        message: 'Pomyślnie wylogowano',
        color: 'positive',
        icon: 'done'
      });
      this.goLogin();
    }
  },
  created() {
    if (StorageService.getLoginState()) {
      this.loggedIn = true;
      this.user = StorageService.getUser();
    } else {
      this.loggedIn = false;
    }
  }
};
</script>

<style scoped>
.app-title:hover {
  cursor: pointer;
}
</style>
