<template>
  <q-page class="q-pa-md">
    <q-list bordered separator>
      <q-item-label header>
        <div class="row justify-between q-pa-xs">
          <div class="column justify-center">
            <span class="list-header">Lista profilów</span>
          </div>
        </div>
      </q-item-label>

      <q-separator />

      <q-item class="user-item list-item row q-px-xl q-py-lg" v-for="user in items" :key="user.id">
        <q-item-section class="gt-xs col-sm-3 col-md-2" avatar>
          <q-icon name="person" size="80px" />
        </q-item-section>
        <q-item-section class="col-xs-10 col-sm q-gutter-y-xs">
          <span class="list-item-header">{{ user.name }}</span>
          <hr />
          <span>
            <q-badge class="q-py-xs q-pa-px-sm">{{ user.roleName }}</q-badge>
          </span>
        </q-item-section>
        <q-item-section side>
          <div class="q-gutter-xs">
            <q-btn
              size="lg"
              flat
              dense
              round
              icon="format_list_bulleted"
              @click="goProfile(user.id)"
            >
              <q-tooltip>Pokaż profil</q-tooltip>
            </q-btn>
          </div>
        </q-item-section>
      </q-item>
    </q-list>
    <div class="q-pa-md row justify-end">
      <q-pagination
        v-model="page"
        color="primary"
        :max="this.pageCount"
        :max-pages="6"
        :boundary-numbers="false"
        @click="filter()"
      />
    </div>
  </q-page>
</template>

<script>
import HeaderService from "../../helpers/HeaderService";

export default {
  data() {
    return {
      items: [],
      rows: 0,
      page: 1,
      size: 5
    };
  },
  methods: {
    goProfile(userId) {
      this.$router.push({
        name: 'user-details',
        params: { id: userId } 
      });
    },
    getUrl() {
      let url = 'api/users/list?';
      let nextParameter = false;
      if (this.page) {
        url += 'page=' + this.page;
        nextParameter = true;
      }
      if (this.size) {
        if (nextParameter) {
          url += '&';
        }
        url += 'size=' + this.size;
        nextParameter = true;
      }
      return url;
    },
    filter() {
      this.$q.loading.show();
      this.$axios
        .get(this.getUrl(), HeaderService.getJWt())
        .then(response => {
          if (response.status === 200) {
            this.items = response.data.items;
            this.rows = response.data.rowNumber;
          }
        })
        .finally(() => {
          this.$q.loading.hide();
        });
    }
  },
  computed: {
    pageCount() {
      return Math.ceil(this.rows / this.size);
    }
  },
  created() {
    this.$q.loading.show();
    this.$axios
      .get("api/users/list", HeaderService.getJWt())
      .then(response => {
        if (response.status === 200) {
          this.items = response.data.items;
          this.rows = response.data.rowNumber;
        }
      })
      .finally(() => {
        this.$q.loading.hide();
      });
  }
};
</script>

<style scoped>
.user-item {
  min-height: 160px;
}
</style>
