<template>
  <q-page class="q-pa-md">
    <q-card class="my-card" flat bordered>
      <q-item>
        <q-item-section avatar>
            <q-icon name="account_circle" size="80px" color="primary"/>
        </q-item-section>

        <q-item-section>
          <q-item-label class="text-h4">{{ user.name }}</q-item-label>
          <q-item-label caption>
            <q-badge class="q-py-xs q-pa-px-sm">{{ user.roleName }}</q-badge>
          </q-item-label>
        </q-item-section>
      </q-item>
      <q-separator />
      <q-card-section class="q-px-lg">
        <div class="text-h6">Kontakt:</div>
        <q-separator />
        <br>
        <div class="row q-gutter-x-lg">
          <div class="col-2 text-body1 text-right">
            <div>Adres e-mail:</div>
            <div>Numer telefonu:</div>
            <div>Miasto:</div>
            <div>Adres:</div>
          </div>
          <div class="text-body1 text-weight-bold">
            <div>{{ user.email }}</div>
            <div>{{ user.phoneNumber || '-'}}</div>
            <div>{{ user.city || '-'}}</div>
            <div>{{ user.street || '-'}} {{ user.streetNumber }}</div>
          </div>
        </div>
        <br>
        <div class="text-h6">Pozostałe dane:</div>
        <q-separator />
        <br>
        <div class="row q-gutter-x-lg">
          <div class="col-2 text-body1 text-right">
            <div>Data urodzenia:</div>
            <div>Wysokość:</div>
            <div>Waga:</div>
          </div>
          <div class="text-body1 text-weight-bold">
            <div>{{ user.birthDate || '-' }}</div>
            <div>{{ user.height || '-' }} cm</div>
            <div>{{ user.weight || '-' }} kg</div>
          </div>
        </div>
      </q-card-section>
    </q-card>
  </q-page>
</template>

<script>
import HeaderService from "../../helpers/HeaderService";

export default {
  data() {
    return {
      user: {
        name: "",
        roleName: "",
        email: "",
        phoneNumber: "",
        city: "",
        street: "",
        streetNumber: "",
        birthDate: "",
        height: "",
        weight: ""
      }
    }
  },
  created() {
    this.$q.loading.show();
    this.$axios
      .get("api/users/" + this.$route.params.id, HeaderService.getJWt())
      .then(response => {
        if (response.status === 200) {
          this.user = response.data;
        }
      })
      .finally(() => {
        this.$q.loading.hide();
      });
  }
}
</script>
